<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMC Gateway</title>
    <link rel="icon" type="image/x-icon" href="/img/webIcon.ico">
    <link href="/bootstrap/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        div a {
            display: block;
            width: 200px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            /* background-color: #4CAF50; */
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 20px auto;
        }
        body {
            background-image: url('./img/bg2.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .blurs {
            /* background-color: white; */
            opacity: 0.5;
            background-image: url('./img/bg2.png');
            filter: blur(1px);
            background-size:inherit;
            /* background-repeat: no-repeat; */
        }
    </style>
</head>
<body>
    <p class="text-center">Powered by <a href="https://packetriot.com" style="text-decoration: none;">Packetriot</a></p>
    </div>
        
        <div class="text-center pt-5 pb-5 border border-dark top-50 start-50 translate-middle" style="position: absolute; width: 400px; border-radius: 10px; z-index: 9999;">
            <a class="border btn-outline-success" href="http://27.110.167.82:808/">SMC Portal</a>
            <a class="border btn-outline-success" href="http://solitary-sunset-19088.pktriot.net/smc-webassist/home">SMC Web Assist</a>
        </div>
        <div class="blurs text-center pt-5 pb-5 top-50 start-50 translate-middle" style="position: absolute; width: 400px; border-radius: 10px;">
            <a class="bg-light" href="http://27.110.167.82:808/">SMC Portal</a>
            <a class="bg-light" href="http://solitary-sunset-19088.pktriot.net/smc-webassist/home">SMC Web Assist</a>
        </div>
    </div>
    
</body>
</html>