<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMC Web-Assist | Reset Password</title>
	<link rel="icon" type="image/x-icon" href="/img/smcLogo.ico">
	<link href="/bootstrap/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>
<body>
	<nav class="navbar d-flex justify-content-center p-3" id="navBar">
		<a class="text-dark navbar-brand ps-3 " href="/smc-webassist/home">SMC Web Assist</a>
	</nav>
	
	<div class="position-relative p-0" id="modalForgot">
		<div class="position-absolute top-50 start-50 translate-middle w-100 rounded shadow border">
			<div class="d-flex flex-column text-center rounded bg-light p-2">
				<h5 class="mt-5"> Reset Password</h5>
				<p> Reset password for <strong id="userNameText">User</strong>.</p>
				<form action="/smc-webassist/reset-password/update" method="POST" class="needs-validation d-flex flex-column" novalidate>

					<div class="mt-5 justify-content-center d-flex">
						
							<i class="fa-solid fa-lock pt-2 me-2" style="font-size: 1.0em;"></i>
						
							<input type="password" class="pb-0 form-control rounded-0 border-2 border-start-0 border-top-0 border-end-0" 
							style="width: 70%;" 
							id="userPass" 
							placeholder="New Password" 
							onkeyup="showPassIcon()" 
							name="userPass" 
							required pattern="[a-zA-Z0-9]+" maxlength="20" title="Password">
						
					</div>
					<div class="mt-3 mb-3 justify-content-center d-flex">
						
							<i class="fa-solid fa-lock pt-2 me-2" style="font-size: 1.0em;"></i>
						
							<input type="password" class="pb-0 form-control rounded-0 border-2 border-start-0 border-top-0 border-end-0" 
							style="width: 70%;" 
							id="userPassConfirm" 
							placeholder="Confirm New Password" 
							onkeyup="showPassIcon()" 
							name="userPassConfirm" 
							required pattern="[a-zA-Z0-9]+" maxlength="20" title="Confirm Password">
						
					</div>
					<div class="mt-3 mb-3 justify-content-center d-flex">
						<input class="p-0 me-2" type="checkbox" onclick="showPass()">Show Password
					</div>
					
					<div class="mt-4 mb-4 justify-content-center d-flex">
						
							<button class="btn btn-outline-success ps-5 pe-5" id="signBtn" type="submit">Reset</button>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- <div class="position-absolute" style="height: 100%; width: 100%; z-index: 9999; display: flex;" id="forgotPassParentDiv">
		<div id="forgotPassDiv" class="container m-0 p-0 top-50 start-50 translate-middle" style="position: absolute; display: flex; z-index: 9999;">
			<div class="text-center border bg-light p-1 m-0 position-absolute top-50 start-50 translate-middle rounded shadow" style="width: 400px;">
				<div class="container p-3">
					<i class="fa-solid fa-xmark position-absolute" style="right: 10px; top: 10px;" id="closeForgotPassBtn"></i>
					<div class="row mt-3">
						<p> Enter your new password</p>
					</div>

					<div class="row">
						
						<div class="d-flex">
							<input type="password" class="pb-0 form-control rounded-0 border-2 border-start-0 border-top-0 border-end-0 w-90" 
							id="passInput" 
							placeholder="Password" 
							name="passInput" 
							required>
							<button class="btn rounded-0 btn-dark w-30" id="reqBtn">Reset</button>
						</div>
						<i class="m-0 text-danger" id="forgotPassEmailNotice" style="display: none;">text</i>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="font-size: 13px;">
			<p class="col-md-4 mb-0 text-dark">&copy; 2025 BSCPE Seniors Inc</p>
				<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="/smc-webassist/home" class="nav-link px-2 text-dark">Home</a></li>
				<!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">FAQs</a></li> -->
				<li class="nav-item"><a href="/smc-webassist/about" class="nav-link px-2 text-dark">About</a></li>
			</ul>
		</footer>
	</div>
	<script src="https://kit.fontawesome.com/67f996be23.js" crossorigin="anonymous"></script>
	<script src="/js/reset.js"></script>
	<script src="/bootstrap/bootstrap-5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>