<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMC Web-Assist | Terms of Service</title>
	<link rel="icon" type="image/x-icon" href="/img/smcLogo.ico">
	<link href="/bootstrap/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light p-3" id="navBar">
		<div class="container-fluid">
		<a class="navbar-brand ps-3" href="/smc-webassist/home">SMC Web Assist</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item ps-3">
					<hr>
				</li>
				<li class="nav-item ps-3">
				<!-- Submit Button -->
				<a class="nav-link" aria-current="page" href="/smc-webassist/category">Submit Ticket</a>
				</li>
				<li class="nav-item ps-3">
				<!-- Feedback Button -->
				<a class="nav-link" aria-current="page" href="/smc-webassist/feedback">Feedback</a>
				</li>
				<li class="nav-item ps-3">
				<!-- About Button -->
				<a class="nav-link" aria-current="page" href="/smc-webassist/about">About</a>
				</li>
			</ul>
			<form class="d-flex">
				<div id="adminBtn" style="display: none;">
					<button class="btn p-0" style="display: flex;" id="feedbackBtn">
						<div style="display: flex;" id="feedbackLink">
							<a class="nav-link text-light">Feedbacks</a>
						</div>
					</button>
					<button class="btn p-0 ms-2" style="display: flex;" id="ticketsBtn">
						<div style="display: flex;" id="ticketLink">
							<a class="nav-link text-light">Tickets</a>
						</div>
					</button>
				</div>
				
				<button class="btn p-0 ms-2" style="display: none;" id="profileBtn">
					<div style="display: none;" id="navUserIcon">
						<i class="text-light fa-solid fa-user d-flex align-items-center pt-0 m-0 ps-3"></i>
					</div>
					<div style="display: none;" id="navAdminIcon">
						<i class="text-light fa-solid fa-user-tie d-flex align-items-center pt-0 m-0 ps-3"></i>
					</div>
					<div style="display: flex;">
						<a class="nav-link text-light">Profile</a>
					</div>
				</button>
				<div style="display: flex;" id="loggedInDiv">
					<button class="btn btn-danger ms-2" id="logoutBtn">
						<i class="fa-solid fa-right-from-bracket ms-1 me-1"></i>
					</button>
				</div>
				<div style="display: none;" id="loggedOutDiv">
					<a class="nav-link text-dark" href="/smc-webassist/signin">Log in</a>
				</div>
				<div style="display: none;" id="signUpDiv">
					<a class="nav-link text-dark" href="/smc-webassist/signup">Sign up</a>
				</div>
			</form>
		</div>
		</div>
	</nav>
	
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-offset-6 mt-5 mb-5 d-flex flex-column align-items-center">
				<img class="img-fluid" src="/img/smcLogo.png" style="height: 140px; width: 140px;">
				<h3 class="text-center">SMC Web Assist</h3>
				<h4 class="text-center mt-3">Terms of Service</h4>
				<div class="text-start tos pt-3">
				Last Updated: May 7, 2025<br>
				SMC Web Assist<br>
				Southern Mindanao Colleges of Pagadian City<br>
				<br>
				This Terms of Service ("Agreement") is a legal agreement between you ("User") and Southern Mindanao Colleges (SMC) of Pagadian City ("Institution") for 
				the use of the SMC Web Assist web application ("Application") services. By accessing or using the Application, you agree to be bound by the terms of this Agreement.
				<ol>SECTION 2. DEFINITIONS</ol>
				<li>Application: The online platform used for facilitating communication and services between students and school administration.</li>
				<li>User: Any individual (student, faculty, or administrative staff) with access credentials to the Application.</li>
				<li>Institution: The school or college providing and managing access to the Application.</li>
				<li>Content: Any data, messages, files, or information submitted to or accessed via the Application.</li>
				<ol>SECTION 3. INSTITUTIONAL RIGHTS AND CONTROLS</ol>
				The Institution reserves the right to:
				<li>Modify, suspend, or terminate access to the Application at any time.</li>
				<li>Monitor and audit user activity within the Application.</li>
				<li>Moderate, remove, or restrict content that violates policies, laws, or institutional values.</li>
				<ol>SECTION 4. USER OBLIGATIONS</ol>
				Users agree to:
				<li>Provide accurate and truthful information.</li>
				<li>Use the Application in a respectful, responsible, and lawful manner.</li>
				<li>Avoid impersonation, unauthorized access, spam, harassment, or uploading offensive content.</li>
				<ol>SECTION 5. PROHIBITED USE AND PUBLIC SHAMING</ol>
				Users must not:
				<li>Use the Application to publicly shame or defame individuals or the Institution.</li>
				<li>Upload or share content that harms the public reputation of any individual or the Institution.</li>
				<li>Disclose or distribute internal content or communications without authorization.</li>
				<ol>SECTION 6. CONTENT OWNERSHIP AND RESPONSIBILITY</ol>
				<li>Users retain ownership of their submitted content but grant the Institution a license to store, process, and manage such content for operational purposes.</li>
				<li>The Institution is not responsible for user-generated content but may remove or report harmful content as necessary.</li>
				<ol>SECTION 7. SENSITIVE CONTENT AND REPORTING</ol>
				<li>Sensitive issues (e.g., mental health, harassment, complaints) are treated with confidentiality and managed by authorized personnel only.</li>
				<li>The Application provides mechanisms for securely reporting such issues.</li>
				<ol>SECTION 8. DATA PRIVACY AND SECURITY</ol>
				<li>The Institution collects and processes personal data in compliance with applicable data protection laws (e.g., REPUBLIC ACT 10173 Of The Philippines, Data Privacy Act of 2012).</li>
				<li>All sensitive data shall be encrypted and securely stored.</li>
				<li>Personal data will not be shared with third parties without consent unless required by law.</li>
				<ol>SECTION 9. LIMITATION OF LIABILITY</ol>
				The Institution shall not be liable for:
				<li>Any loss or damage resulting from user error or misuse.</li>
				<li>Unauthorized access to user data despite reasonable security measures.</li>
				<li>Any indirect or consequential damages arising from use of the Application.</li>
				
				<ol>SECTION 10. GOVERNING LAW</ol>
				<li>This Agreement shall be governed by and construed in accordance with the laws of the Republic of the Philippines.</li>
				<ol>SECTION 11. AMENDMENTS</ol>
				<li>The Institution reserves the right to update or amend this Agreement. Users will be notified of material changes, and continued use of the Application constitutes acceptance.</li>
				
				
				<ol class="mt-3 m-0 p-0">For questions or concerns regarding this Agreement, please contact:</ol>
				<ol class="m-0 p-0">Drazille Toledo</ol>
				<ol class="m-0 p-0">BSCPE</ol>
				<ol class="m-0 p-0">drazilletoledo@gmail.com</ol>
				<ol class="m-0 p-0">0920-186-7234</ol>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<p class="col-md-4 mb-0 text-dark">&copy; 2025 BSCPE SENIORS INC.</p>
				<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="/smc-webassist/terms-of-service" class="nav-link px-2 text-dark">Terms of Service</a></li>
				<li class="nav-item"><a href="/smc-webassist/home" class="nav-link px-2 text-dark">Home</a></li>
				<!-- <li class="nav-item"><a href="/smc-webassist/#" class="nav-link px-2 text-dark">FAQs</a></li> -->
				<li class="nav-item"><a href="/smc-webassist/about#" class="nav-link px-2 text-dark">About</a></li>
			</ul>
		</footer>
	</div>
	<br>
	<script src="https://kit.fontawesome.com/67f996be23.js" crossorigin="anonymous"></script>
	<script src="/js/script.js"></script>
	<script src="/bootstrap/bootstrap-5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>