
nav {
	background-color: rgb(139, 195, 74);
	color: black;
}

#profileBtn {
	background-color: rgb(99, 151, 40);
}

#ticketsBtn, #ticketsBtnv2 {
	background-color: #e76800;
}

#feedbackBtn {
	background-color: #e76800;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

#footer {
	width: 100%;
	background-color: rgb(139, 195, 74);
}

.pending {
	background-image: url("../img/adminpending.png");
	background-color: rgb(172, 172, 172);
	background-repeat: no-repeat;
	background-position-x: 8px;
	background-size: 300px 300px;
	/* background-color: rgb(238, 238, 238); */
}
.resolved {
	/* background-color: rgb(201, 255, 188); */
	background-image: url("../img/adminresolved.png");
	background-color: rgb(172, 224, 116);
	background-repeat: no-repeat;
	background-position-x: 8px;
	background-size: 300px 300px;
}
.archived {
	/* background-image: url("../img/bg-grid.png");
	background-size: 20px 20px;
	opacity: 0.3; */
	background-image: url("../img/adminarchived.png");
	background-color: rgb(255, 200, 73);
	background-repeat: no-repeat;
	background-position-x: 8px;
	background-size: 300px 300px;
	/* background-color: rgb(137, 195, 197); */
}

.ptitle {
	/* font-style: bold; */
	font-size: 15px;
	margin-top: 4px;
	margin-bottom: 0px;
}
.pid {
	font-size: 9px;
	color: #000;
	margin: 0;
}
.pcontent {
	margin: 0;
	font-size: 10px;
}
.pdate {
	margin: 0;
	font-size: 9px;
	color: #000;
}
#earlyAccessNotice {
	color: rgb(143, 121, 0);
	background-color: rgba(255, 196, 0, 0.342);
	& button {
		color: rgb(143, 121, 0);
	}
}
a {
	text-decoration: none;
	color: black;
  }

.ticket a:hover {
	box-shadow: 0px 0px 30px #30303085;
	color: black;
}

.adminNoticeCol {
	/* border-radius: 4px; */
	border: 1px solid rgb(224, 224, 224);
}

